.principal-text {
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.principal-text img {
  border-radius: 10px;
}

.trabalhos-categoria {
  text-align: center;
}

.principal-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.principal-imgs img {
  border-radius: 10px;
  width: 475px;
  height: 285px;
}

@media (max-width: 768px) {
  .principal-text {
    grid-template-columns: 1fr;
  }

  .principal-imgs {
    grid-template-columns: 1fr;
  }
}
